body {
    background-image: url('./assets/double-bubble-dark.png');
}

#wrapper {
margin-left: auto;
margin-right: auto;

}

.box {
    background-image: url('./assets/funny-cat-photo1.jpg');
    border-radius: 10% 10%;
    padding: 50px;
    margin: 50px;
    background-size: cover;
    height: 700px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button {
    background-color: red; 
     margin-left: 0%;
    margin-top: 10%; 
    border-color: red; 
    border-width: 5px 5px;
    border-radius: 20% 20%;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
